<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="708" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music>
      <folder>audio/music</folder>
      <track>Endless_runner.ogg</track>
    </music>
    <fx>
      <folder>audio/fx</folder>
      <sound>Click.wav</sound>
      <sound>Dead.wav</sound>
      <sound>Game_over.wav</sound>
      <sound>Jump.wav</sound>
      <sound>Slide.wav</sound>
    </fx>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entitycontroller>
    <folder>textures/</folder>
    <sprite_sheet source="Obstacles.png"/>
  </entitycontroller>

  <scene>
    <map_name name="level.tmx"/>
    <max_obstacles value="5"/>
    <spacing value="265"/>
  </scene>
  
  </config>